<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_user.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_button.css') }}">
    </head>

    <body>
        <a href="{{ url_for('index') }}" class="home">Accueil</a>
        <h1>Créer un utilisateur</h1>

        <form action="create_users" method="POST">
            <div class="user_creation">

                <div class="first_row">
                    <input name="first_name" id="first_name" placeholder="Prénom">
                    <input name="last_name" id="last_name" placeholder="Nom">
                </div>

                <div class="second_row">
                    <input name="age" id="age" placeholder="Age">
                    <input name="mail" id="mail" placeholder="Mail">
                </div>

                <button>Ajouter l'utilisateur</button>
            </div>
        </form>
        <h2>{{ data|safe }}</h2>
    </body>
</html>