<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_mission.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_button.css') }}">
    </head>

    <body>
        <a href="{{ url_for('index') }}" class="home">Accueil</a>
        
        <h1>Créer une mission</h1>

        <form action="create_missions" method="POST">
            <div class="mission_creation">
                <input name="mission_name" id="mission_name" placeholder="Nom de la mission">
                <input name="mission_desc" id="mission_desc" placeholder="Description de la mission">
                <button>Ajouter la mission</button>
            </div>
        </form>
    </body>
</html>